<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      {% block title %}{% endblock %}
    </title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <script
    src="http://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">

    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}

    <div id="markov-div" style="display: flex;"></div>

    {% block after_body %}{% endblock %}
  </body>
  <script src="{{url_for('static', filename='test_code.js')}}"></script>
</html>