<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mocking Bird</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <script
    src="http://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

    <!-- TODO: Get more fonts here: https://fonts.google.com/ ; below is a sample script from google fonts for testing -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Sacramento&display=swap" rel="stylesheet">

   


<!-- TODO: eventually put these css classes in a stylesheet, perhaps? -->
<style>
.textshadowbox {
height: 200px;
background: rgb(255, 242, 242);
/* opacity: 0.5; */
}
.temporaryimg {
height: 200px;
background: rgb(160, 160, 160, 0.3);
opacity: 0.5;
}
.sourcetextform {
height: 300px;
/* background: yellow; */
border: solid 1px white;
}

body {
    background: white url("/static/img/mockingbird_watercolor.jpeg");
    background-size: contain;
    background-position: center bottom;
    /* background-size: cover; */
    background-size:100% 80%;
    
    /* color and text-align are Homepage text attributes */  
    /* color: white; */
    /* text-align: center; */
}
</style>
</head>


<body>
  <div class="jumbotron text-center" style="margin-bottom:0">
      <h1>Mockingbird</h1>
      <p>Markov-Chain based text generation, because algorithms are magical.</p> 
    </div>
      
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#">Mockingbird</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About Mockingbird</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
      
    <div class="container" style="border: solid 4px pink;">
      <div class="row" style="border: dotted 4px red ;">
        <div class="col-sm-4" style="border: dashed 4px black ;">
          <h2>About Markov Chain</h2>
          <h5>Photo of a mockingbird?</h5>

          <!-- TODO: fix image below. Image doesn't work -->
          <div class="temporaryimg" img src="/static/img/mockingbird_water_color.jpeg" alt="Bird Logo" style="width:200px;height:200px;"></div>
          <p> Can put some text here??..</p>

          <!-- ! need a block to balance the page -->
          <h3>Some Stuff that's linked!!!!!!</h3>
          <p>More stuff??</p>
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
          </ul>
          <hr class="hidden-sm hidden-md hidden-lg">
        </div>

        <!-- Note: in code below, background-color: rgb(233, 194, 200, 0.6) - 0.6 here refers to the background color opacity -->
        <div class="col-sm-8" style="border: double 8px black; background-color: rgb(233, 194, 200, 0.4)" > 

          
          <div class="sourcetextform">
          <!-- START: font test-->
          <!-- <h3 style="font-family: 'Open Sans', sans-serif;font-family: 'Sacramento', cursive;"> This is a FONT test Para</h3> -->
          <!-- <h3> This is a FONT test Para</h3> -->
          <!-- END: font test -->

          <h2 style="font-weight: bold; color:rgb(6, 6, 6)">Let's have some fun!</h2>

          <!-- ! START SELECT QUESTION BLOCK:(take user input for question they want to ask a celebrity using markov chain) -->
          <h5> Have you ever wanted to have a conversation with a famous personality? Now you can! <br> 
            Enter the twitter handle of your favorite celebrity or simply select one from the drop down menu and ask them anything.</h3>

            <label for="questions"><strong>Choose a question:</strong></label>
            <select name="question" id="celeb_ques">
              <option value="feelings">If you weren't afraid to hurt my feelings what would you tell me?</option>
              <option value="life">What is the meaning of life?</option>
              <option value="advice">What's the best piece of advice you've ever received?</option>
              <option value="weird">What’s the weirdest thing you’ve heard?</option>
              <option value="mistake">How would you cryptically describe the biggest mistake of your life?</option>
              <option value="mistake">How do you feel about politics?</option> <br>
            </select>

            <!-- ! START FORM ACTION BLOCK: (take user input twitter handle/s and/or text tpo generate markov chain) -->
            <form action="/" method="POST">
              
              <label for="twitterhandle1">I'd like to ask</label>
              <input list="text_source1" id="firsttextsource" name="firsttextsource" placeholder="@BarackObama" required>
              <datalist id="text_source1">
                <option value="God">
                <option value="Monty Python">
                <option value="Oscar Wilde">
                <option value="Sigmund Freud">
                <option value="George Carlin">
                <option value="Trump Tweets">
                </option>
              </datalist><br>

              <!-- !TODO - DECIDE: Do we need a second text source to mix-up the markov chain? -->
              <!-- <label for="twitterhandle2">I'd also like to ask</label> -->
              <!-- <input type="text" id="text_source2" name="twitterhandle2" placeholder="@realDonaldTrump"><br> -->
              
              <input type="submit" value="Submit">
            </form>
            <!-- ! END OF FORM ACTION BLOCK: -->
           </div>
           

          <!-- This block ONLY appears once user has submitted a 'text source' aka picked a celeb to answer their question -->
          {% if request.method == "POST" %}
          <!-- TODO: Make 'what a thoughtful question' a random choice text from a list of texts like- great question, interesting question etc. -->
          <h3 style="font-weight: bold; color:rgb(6, 6, 6)">What a thoughtful question! {{text_source1}} has an answer for you. </h3>
          <p>Markov-chain generated text: </p>
          <!-- this is where I take markov chain generated text and display on to the webpage. -->
          <!-- using STRONG tag to lay emphasis on the text and make it bold. -->
          <div type= text class="textshadowbox" style="text-align: center; padding: 70px 0;"><strong>{{markov_generated_text}}</strong></div>
          {% endif %}
          
          <p>Some text..</p>
          <p>.... ....................... ........... ......... ......... . .</p>
          <br>


          <h2 style="font-weight: bold; color:rgb(6, 6, 6)">Word Cloud </h2>
          
          <h5>Most frequently used words in CURRENTLY SELECTED source text</insert></h5>
          <div class="temporaryimg" style="font-weight: bold; color:rgb(5, 5, 5)">....Insert word cloud visualization here....</div>
          <p>Some text..</p>
          <p>Lots of text goes here.......use words, like lots and lots of words. </p>
        </div>
      </div>
    </div>
    
    <div class="jumbotron text-center" style="margin-bottom:0">
      <p>This is the Footer</p>
    </div>
    </body>

    <!-- !added the script below to 'prevent POST on reloading a form once the user has submitted an input (i.e. text source)' and automatically rendering the markov chain -->
    <script>
      if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
      }
      </script>
    </html>