<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mocking Bird</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <script
    src="http://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

    <!-- ...Get more fonts here: https://fonts.google.com/   ... using  a script from google fonts below for testing -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Sacramento&display=swap" rel="stylesheet">

   


<!-- ! eventually put these css classes in a stylesheet?? may be?? -->
<style>
.textshadowbox {
height: 200px;
background: rgb(255, 242, 242);
opacity: 0.5;
}
.temporaryimg {
height: 200px;
background: rgb(160, 160, 160);
opacity: 0.5;
}
.sourcetextform {
height: 300px;
/* background: yellow; */
border: solid 3px green;
}

body {
    background: rgb(232, 229, 229) url("/static/img/icon-mockingbird.png");
    background-size: cover;
    
    /* color and text-align are Homepage text attributes */  
    
    /* color: white; */
    /* text-align: center; */
}
</style>

</head>


<body>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>Mocking Bird</h1>
        <p>Markov-Chain based text generation, because algorithms are magical. </p> 
      </div>
      
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">Mocking Bird</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About Me</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Login</a></li>
            </ul>
          </div>
        </div>
      </nav>
      
      <div class="container" style="border: solid 4px pink;">
        <div class="row" style="border: dotted 4px red ;">
          <div class="col-sm-4" style="border: dashed 4px black ;">
            <h2>About Markov Chain</h2>
            <h5>Photo of a mockingbird?</h5>

            <!-- ! fix image below. Image doesn't work -->
            <div class="temporaryimg" img src="/static/img/icon-mockingbird.png" alt="Bird Logo" style="width:200px;height:200px;"></div>
            <p> Can put some text here??..</p>

            <!-- ! need a block to balance the page -->
            <h3>Some Stuff that's linked!!!!!!</h3>
            <p>More stuff??</p>
            <ul class="nav nav-pills nav-stacked">
              <li class="active"><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
            </ul>
            <hr class="hidden-sm hidden-md hidden-lg">
          </div>

          <div class="col-sm-8" style="border: double 8px blue;" >

            <!-- ! FORM ACTION BLOCK: 1 (take user input twitter handle/s and/or text tpo generate markov chain) -->
            <div class="sourcetextform">
            <!-- once user Clicks the "Submit" button, the form-data will be sent to a page on the server called "action_page.php". -->
            <h2>Let's have some fun!</h2>
            <!-- START: font test-->
            <h3 style="font-family: 'Open Sans', sans-serif;font-family: 'Sacramento', cursive;"> This is a FONT test Para</h3>
            <h3> This is a FONT test Para</h3>
            <!-- END: font test -->
            <h5>Enter your favorite twitter handle/s and or texts from your favorite book/article/movie transcript. </h3>
              <form action="/action_page.php">
                <label for="fname">First twitter handle</label>
                <input type="text" id="firsttwitterhandle" name="handle1"><br><br>
                <label for="lname">Second twitter handle</label>
                <input type="text" id="secondtwitterhandle" name="handle2"><br><br>
                <input type="submit" value="Submit">
              </form>
            </div>


            <h2>Generated Text Result</h2>
            <!-- !make date dynamic -->
            <h5>Markov Chain Result, (insert date??)</h5>
            <!-- this is where I take markov chain generated text and display on to the webpage. -->
            <!-- using STRONG tag to lay emphasis on the text and make it bold. -->
            <div type= text class="textshadowbox"><strong>{{random_text}}</strong></div>
            <p>Some text..</p>
            <p>.... ............. .......... ........... ......... ......... . . ......... . .. . . .............................</p>
            <br>


            <h2 style="font-weight: bold; color:rgb(6, 6, 6)">Word Cloud </h2>
            <!-- !make date dynamic -->
            <h5>Most frequently used words in CURRENTLY SELECTED source text, (insert date??)</insert></h5>
            <div class="temporaryimg" style="font-weight: bold; color:rgb(5, 5, 5)">....Insert word cloud visualization here....</div>
            <p>Some text..</p>
            <p>Lots of text goes here............. use words, like lots and lots of words. </p>
          </div>
        </div>
      </div>
      
      <div class="jumbotron text-center" style="margin-bottom:0">
        <p>This is the Footer</p>
      </div>
      </body>
      </html>