<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mockingbird</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <script src="http://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

  <!-- Load d3.js -->
  <script src="https://d3js.org/d3.v4.js"></script>
  <!-- Load d3-cloud -->
  <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>

  <!-- Attached css style file below -->
  <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">

  <!-- Calling Javascript Files below: Markov Chain generator + word cloud + backend JS-->
  <script src="{{url_for('static', filename='markov.js')}}"></script>
  <script src="{{url_for('static', filename='wordcloud.js')}}"></script>
  <!-- *(backend.js file uses ajax to make a get request from frontend to server.py ) -->
  <script src="{{url_for('static', filename='backend.js')}}"></script>

  <!-- TODO: Get more fonts here: https://fonts.google.com/ ; below is a sample script from google fonts for testing -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Sacramento&display=swap" rel="stylesheet">
</head>


<script>
  // Use local storage to save generated markov chain by the
  // user. Empty it on first page load (or page refresh) for now. 
  localStorage.clear();
  // The slide number to add the next markov chain to. Starting out,
  // we will be adding to slide 1.
  localStorage.nextChainPosition = 1;

  // <!-- !START: script to manage (i.e. activate and hide) Navigation tab elements (Markov Chain, Word CLoud, History) -->
  function activateMarkovTab() {
    $('#markov-tab').show();
    $('#wc-tab').hide();
    $('#saved-generated-text-tab').hide();
  }

  function activateWcTab() {
    $('#wc-tab').show();
    $('#markov-tab').hide();
    $('#saved-generated-text-tab').hide();
  }

  function updateFromSavedChains() {
    let chains = JSON.parse(localStorage.savedChains);
    let html = '';
    for (let i = 0; (i < chains.length) && (i < 3); i++) {
      $('#saved-chain' + String(i + 1)).html(chains[i]);
    }
  }

  function activateHistoryTab() {
    $('#saved-generated-text-tab').show();
    $('#markov-tab').hide();
    $('#wc-tab').hide();

    if (localStorage.nextChainPosition == 1) {
      updateFromSavedChains();
    }
  }
  // <!-- !END: Navigation tab activate and hide -->

  function enableButtonsCallback() {
    $('#save-markov-chain-button').prop('disabled', false);
    $('#generate-markov-button').prop('disabled', false);
  }

  // This function will get called with the text of the tweets retrieved from the backend(server.py). 
  // data will be the json object with the result.
  function tweetsCallbackForMarkovChain(tweetsText, result) {
    if (result == 'success') {
      let selectedMarkovChainLengthValue = $('#min-chain-len-dropdown').val();
      let selectedVizInterval = $('#viz-interval-dropdown').val();
      let minLength = parseInt(selectedMarkovChainLengthValue);
      let maxLength = minLength + 10;
      let name = '';
      if ($('#firstsource').val() != '' && $('#secondsource').val() != '') {
        name = $('#firstsource').val() + ' and ' + $('#secondsource').val();
      } else {
        name = $('#firstsource').val();
      }
      processTweets(name, tweetsText, '#markov-chain-output-container',
        minLength, maxLength, parseInt(selectedVizInterval), enableButtonsCallback);
    } else {
      console.log('Got error when requesting tweets for markov chain!');
    }
  }

  // <!-- !START: Markov-chain Tab functionalities -->
  function generateMarkovChain() {
    // Clear previous chain.
    $('#markov-chain-output-container').empty();
    let firstSourceValue = $('#firstsource').val();
    if (firstSourceValue == '') {
      alert('Please enter a twitter handle to proceed!');
      return;
    }
    let secondSourceValue = $('#secondsource').val();
    if (secondSourceValue == '') {
      secondSourceValue = 'IGNOREVALUE';
    }

    // Before starting a get request, disable the button so the user doesn't accidentally
    // start another one.
    $('#generate-markov-button').prop('disabled', true);

    // Start get request to get the markov chain.
    startGetRequestFromBackend(firstSourceValue, secondSourceValue, tweetsCallbackForMarkovChain);
  }

  // ##############################################
  function saveMarkovChain() {
    let savedChains = localStorage.savedChains;
    let newSavedChains = [];
    if (savedChains) {
      newSavedChains = JSON.parse(savedChains);
    }
    newSavedChains.push(localStorage.currentMarkovChain);
    localStorage.savedChains = JSON.stringify(newSavedChains);

    // Now that we have saved our chain, disable the button.
    $('#save-markov-chain-button').prop('disabled', true);
  }

  // This function will get called with the text of the tweets retrieved
  // from the backend. data will be the json object with the result.
  function tweetsCallbackForWordCloud(tweetsText, result) {
    if (result == 'success') {
      let scaleType = $('#scaling-dropdown').val();
      createWordCloudWithName($('#firstsource').val(), tweetsText, '#word-cloud-output-container', scaleType);
    } else {
      console.log('Got error when requesting tweets for word cloud!');
    }
  }
  // <!-- !START: Markov-chain Tab functionalities -->


  // ##############################################
  // <!-- !START: Word Cloud Tab functionalities -->
  function addWordCloudToDiv() {
    // Clear previous cloud.
    // $('#word-cloud-output-container').empty();
    let firstSourceValue = $('#firstsource').val();
    if (firstSourceValue == '') {
      alert('Please enter the name of person to ask!');
      return;
    }

    console.log('Getting tweets for: ' + String(firstSourceValue));
    startGetRequestFromBackend(firstSourceValue, 'IGNOREVALUE', tweetsCallbackForWordCloud);
  }

  function clearWordCloudDiv() {
    $('#word-cloud-output-container').empty();
  }

  $(function () {

    $(".barcodeSavePrint").click(function () {
      if (this.checked == true) {
        alert("selected");
      } else {
        alert("not selected");
      }
    })
  })
  // <!-- !END: Word Cloud Tab functionalities -->


  // ##############################################
  // <!-- !START: History Carousel Tab functionalities -->
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = slides.length }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace("active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
  }
   // <!-- !START: History Carousel Tab functionalities -->
      // ###############################################
</script>

<body>
  <!-- START: Page Title -->
  <!-- <div style="background-image: url('static/img/002.jpeg');background-position: center;background-size:initial;"> -->
  <div id='main-page'>
    <div class=img>
      <div id='title-container' class='jumbotron'
        style='background-color: transparent; padding-top: 50px; padding-bottom: 5px;'>
        <div class="text-center">
          <div style="display: inline-flex;">
            <img src="{{ url_for('static', filename='/img/the_mockingbird_grey_915X609.jpg') }}"
              style="height: 150px; margin-top: -40px;" />
            <h1 style="font-size:90px;font-family: Garamond, serif; margin-top: 0px; margin-right: 225px">Mockingbird
            </h1>
          </div>
          <h4 style="font-family:revert;">Markov chain based text generation and algorithm visualization, because seeing
            is
            understanding.</h4>
        </div>
      </div>
    </div>
    <!-- END: Page Title -->


    <!-- START: Header Div - contains: 1.Source Input Boxes + 2. Tab Navigation Bar -->
    <div id='header-container'>
      <!-- START: Source Inputs -->
      <div id='source-inputs-containter'>
        <!-- first source input -->
        <label for="twitterhandle1" style="font-size: large; margin-right: 5px;">Generate text that mimics</label>
        <input list="text_source" id="firstsource" placeholder="@TwitterHandle" required>
        <!-- second source input -->
        <label for="twitterhandle" style="font-size: large; margin-left: 20px; margin-right: 5px;"> and </label>
        <input list="text_source" id="secondsource" placeholder="@Optional">
        <datalist id="text_source">
          <option value="Barack Obama">
          <option value="George Carlin">
          <option value="Jenny Lawson">
          <option value="Monty Python">
          <option value="Oscar Wilde">
          <option value="Sigmund Freud">
          </option>
        </datalist>
      </div>
      <!-- END: Source Inputs -->

      <!-- START: Tab Navigaton Bar -->
      <div id='navigation-bar' style='font-size: large;'>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a onclick='activateMarkovTab();' class="nav-link" href="#">Markov Chain</a>
          </li>
          <li class="nav-item">
            <a onclick='activateHistoryTab();' class="nav-link" href="#">Saved Texts</a>
          </li>
          <li class="nav-item">
            <a onclick='activateWcTab();' class="nav-link" href="#">Word Cloud</a>
          </li>
        </ul>
      </div>
      <!-- END: Tab Navigaton Bar -->
    </div>
    <!-- END: Header Container Div -->

    <!-- START: Markov chain tab div -->
    <div id='markov-tab' class='tab'>
      <!-- ! BEGIN: Text source input/s + feature inputs -->
      <div id="markov-features-containre">
        <!-- !feature input request/s -->
        <div class='internal-banner-nav'>
          <!-- chain min length dropdown -->
          <label for="min-chain-len-dropdown">Minimum Sentence Length:</label>
          <select id="min-chain-len-dropdown">
            <option value="5">5 Words</option>
            <option value="10">10 Words</option>
            <option value="15">15 Words</option>
          </select>

          <!-- visualization interval dropdown -->
          <label for="viz-interval-dropdown" style="margin-left:70px">Visualization Interval:</label>
          <select id="viz-interval-dropdown">
            <option value="50">50ms</option>
            <option value="100">100ms</option>
            <option value="250">250ms</option>
            <option value="500">500ms</option>
          </select>
        </div>

        <!-- check input for feature selection -->
        <div class="form-check">
          <input id="viz-checkbox" type="checkbox" class="form-check-input" checked>
          <label class="form-check-label" for="exampleCheck1" style="font-size: large;">Algorithm Visualization</label>
        </div>

        <!-- submit button that submits all -->
        <button class="btn btn-lg btn-primary" style="background-color: #63a4ff" id="generate-markov-button;"
          onclick="generateMarkovChain()">Generate Text</button>
        <button class="btn btn-lg btn-primary" style="background-color: #63a4ff" id="save-markov-chain-button"
          onclick="saveMarkovChain()" disabled>Save Text</button>

      </div>
      <!-- ! END: Text source input/s + feature inputs -->
      <!-- This block ONLY appears once user has submitted a 'text source' aka picked a celeb to answer their question -->
      <div id="markov-chain-output-container" class="output-container">
      </div>
    </div>
    <!-- END: Markov chain tab div -->

    <!-- START: Word Cloud tab div -->
    <div id='wc-tab' class='tab' style="display: none;">
      <!-- ! BEGIN: Text source input/s + feature inputs -->
      <div id="wc-features-containre">
        <!-- !feature input request/s -->
        <div class='internal-banner-nav'>
          <!-- scaling dropdown -->
          <label for="scaling-dropdown">Choose scaling:</label>
          <select id="scaling-dropdown">
            <option value="logarithmic">logarithmic</option>
            <option value="linear">linear</option>
          </select>
        </div>
        <p></p>
        <!-- submit button that submits all -->
        <button class="btn btn-lg btn-primary" style="background-color: #63a4ff" onclick="addWordCloudToDiv()">Add Word
          Cloud(s)</button>
        <button class="btn btn-lg btn-primary" style="background-color: #63a4ff" onclick="clearWordCloudDiv()">Clear All
          Word Cloud(s)</button>
      </div>
      <p></p>
      <!-- ! END: Text source input/s + feature inputs -->
      <!-- This block ONLY appears once user has submitted a 'text source' aka picked a celeb to answer their question -->
      <div id="word-cloud-output-container" class="output-container">
      </div>
    </div>
    <!-- END: Word Cloud tab div -->


    <!-- START: Top generated text carousel div -->
    <div id='saved-generated-text-tab' class='tab' style="display: none;">
      <div class='internal-banner-nav'>
        <label>Saved Markov Generated Text</label>
      </div>
      <div class="slideshow-container">
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <div class="mySlides">
          <!-- <div class="numbertext">1 / 3</div> -->
          <div id="saved-chain1" class="text"></div>
        </div>

        <div class="mySlides">
          <div id="saved-chain2" class="text"></div>
        </div>

        <div class="mySlides">
          <div id="saved-chain3" class="text"></div>
        </div>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
      <!-- </div> -->
    </div>
    <script>currentSlide(1)</script>
    <!-- END: Top generated text carousel div -->
  </div>
</body>

</html>