<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mockingbird</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <script src="http://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

  <!-- Load d3.js -->
  <script src="https://d3js.org/d3.v4.js"></script>
  <!-- Load d3-cloud -->
  <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>

  <!-- TODO: Get more fonts here: https://fonts.google.com/ ; below is a sample script from google fonts for testing -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Sacramento&display=swap" rel="stylesheet">

  <!-- Attached css style file below -->
  <link rel="stylesheet" href="{{ url_for('static', filename='newpage.css') }}">

  <!-- calling the Javascript Markov Chain generator file here -->
  <script src="{{url_for('static', filename='markov.js')}}"></script>
  <script src="{{url_for('static', filename='word_cloud.js')}}"></script>
  <script src="{{url_for('static', filename='backend.js')}}"></script>
</head>
<script>
  function activateMarkovTab() {
    $('#markov-tab').show();
    $('#wc-tab').hide();
  }

  function activateWcTab() {
    $('#wc-tab').show();
    $('#markov-tab').hide();
  }

  // This function will get called with the text of the tweets retreived
  // from the backend. data will be the json object with the result.
  function tweetsCallbackForMarkovChain(tweetsText, result) {
    if (result == 'success') {
      let selectedMarkovChainLengthValue = $('#min-chain-len-dropdown').val();
      processTweets(tweetsText, '#markov-chain-output-container', parseInt(selectedMarkovChainLengthValue));
    } else {
      console.log('Got error when requesting tweets for markov chain!');
    }
  }

  function generateMarkovChain() {
    // Clear previous chain.
    $('#markov-chain-output-container').empty();
    let firstSourceValue = $('#firstsource').val();
    if (firstSourceValue == '') {
      alert('Please enter the name of person to ask!');
      return;
    }

    console.log('Getting tweets for: ' + String(firstSourceValue));
    getTweetsFromBackend(firstSourceValue, tweetsCallbackForMarkovChain);
  }

  // This function will get called with the text of the tweets retreived
  // from the backend. data will be the json object with the result.
  function tweetsCallbackForWordCloud(tweetsText, result) {
    if (result == 'success') {
      createCloudFromWords(tweetsText, '#word-cloud-output-container');
    } else {
      console.log('Got error when requesting tweets for word cloud!');
    }
  }
  function generateWordCloud() {
    // Clear previous cloud.
    $('#word-cloud-output-container').empty();
    let firstSourceValue = $('#firstsource').val();
    if (firstSourceValue == '') {
      alert('Please enter the name of person to ask!');
      return;
    }

    console.log('Getting tweets for: ' + String(firstSourceValue));
    let usersText = getTweetsFromBackend(firstSourceValue, tweetsCallbackForWordCloud);
  }

</script>

<body>
  <div id='main-page'>
    <div id='title-container' class='jumbotron' style='background-color: transparent;'>
      <div class="text-center">
        <h1>Mockingbird</h1>
        <h4>Markov-Chain based text generation, because algorithms are magical.</h4>
      </div>
    </div>

    <!-- START: Header Div - contains, source input boxes and the tab header bar -->
    <div id='header-container'>
      <!-- START: Source Inputs -->
      <div id='source-inputs-containter'>
        <!-- first source input -->
        <label for="twitterhandle1">I'd like to ask</label>
        <input list="text_source1" id="firstsource" placeholder="@TwitterHandle" required>
        <!-- second source input -->
        <label for="twitterhandle">I'd like to also ask</label>
        <input list="text_source" id="secondsource" placeholder="@Optional">
        <datalist id="text_source">
          <option value="Monty Python">
          <option value="Trump Tweets">
          <option value="Oscar Wilde">
          </option>
        </datalist>
      </div>
      <!-- END: Source Inputs -->

      <!-- START: Tab Navigaton Bar -->
      <div id='navigation-bar'>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a onclick='activateMarkovTab();' class="nav-link" href="#">Markov Chain</a>
          </li>
          <li class="nav-item">
            <a onclick='activateWcTab();' class="nav-link" href="#">Word Cloud</a>
          </li>
        </ul>
      </div>
      <!-- END: Tab Navigaton Bar -->
    </div>
    <!-- END: Header Div -->

    <!-- START: Markov chain tab div -->
    <div id='markov-tab' class='tab'>
      <!-- ! BEGIN: Text source input/s + feature inputs -->
      <div id="markov-features-containre">
        <!-- !feature input request/s -->
        <div style="background-color:grey;">
          <!-- chain min length dropdown -->
          <label for="min-chain-len-dropdown">Choose a min len:</label>
          <select id="min-chain-len-dropdown">
            <option value="10">10 Words</option>
            <option value="15">15 Words</option>
            <option value="20">20 Words</option>
          </select>
        </div>
        <!-- check input for feature selection -->
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="viz-checkbox" checked>
          <label class="form-check-label" for="exampleCheck1">Algorithm Visualization</label>
        </div>

        <!-- submit button that submits all -->
        <button value="Submit" onclick="generateMarkovChain()">Generate Markov Chain</button>
      </div>
      <!-- ! END: Text source input/s + feature inputs -->
      <!-- This block ONLY appears once user has submitted a 'text source' aka picked a celeb to answer their question -->
      <div id="markov-chain-output-container" class="output-container">
      </div>
    </div>
    <!-- END: Markov chain tab div -->

    <!-- START: Word Cloud tab div -->
    <div style="display: none;" id='wc-tab' class='tab'>
      <!-- ! BEGIN: Text source input/s + feature inputs -->
      <div id="wc-features-containre">
        <!-- !feature input request/s -->
        <div style="background-color:grey;">
          <!-- chain min length dropdown -->
          <label for="min-chain-len-dropdown">Choose scaling:</label>
          <select id="min-chain-len-dropdown">
            <option value="10">logarithmic</option>
            <option value="15">linear</option>
          </select>
        </div>
        <!-- submit button that submits all -->
        <button value="Submit" onclick="generateWordCloud()">Generate Word Cloud(s)</button>
      </div>
      <!-- ! END: Text source input/s + feature inputs -->
      <!-- This block ONLY appears once user has submitted a 'text source' aka picked a celeb to answer their question -->
      <div id="word-cloud-output-container" class="output-container">
      </div>
    </div>
    <!-- END: Word Cloud tab div -->
  </div>
</body>

</html>